# Ignore everything except files with certain extensions
*
!*/
!.gitignore
!.githooks
!*.agr
!*.cif
!*.conf
!*.cpptraj
!*.doc
!*.docx
!*.f
!*.gif
!*.html
!*.in
!*.ipynb
!*.jpeg
!*.jpg
!*.mol2
!*.mpg
!*.pbs
!*.pdb
!*.pdf
!*.png
!*.PNG
!*.pptx
!*.ptraj
!*.py
!*.sdf
!*.sh
!*.tcl
!*.vmd
!*.xml
!*.yaml
junk*
.idea
.ipynb_checkpoints
experiment/r1-85/hrex_md/centroids/PDB
experiment/r1-85/hrex_md/p000
experiment/r1-85/hrex_md/p001
experiment/r1-85/hrex_md/p002
experiment/r1-85/hrex_md/p003
experiment/r1-85/hrex_md/p004
experiment/r1-85/hrex_md/p005
experiment/r1-85/hrex_md/p006
experiment/r1-85/hrex_md/p007
experiment/r1-85/hrex_md/p008
experiment/r1-85/hrex_md/p009
